/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";





.image {
    height: 100%;
    background-size: cover;
    width: 100%;
    bottom: 0%;
    top: 0px;
    position: relative;
    --background: url('/assets/image/simple-background-backgrounds-passion-simple-1-5c9b95c3a34f9.png');
    
  }

/* Small devices (portrait tablets and large phones, 540px and up) */
@mixin Small {
    @media only screen and(max-width: 576px){
        @content;
    }
}
/* Medium devices (landscape tablets, 720px and up) */
@mixin medium {
    @media only screen and (max-width:768px){
        @content; 
    }
}
@mixin medium-min {
    @media only screen and (min-width:768px){
        @content; 
    }
}
/* Large devices (laptops/desktops, 960px and up) */
@mixin large {
    @media only screen and (max-width: 992px)  { //max
        @content;
    }
}
@mixin large-min {
    @media only screen and (min-width: 992px)  { //max
        @content;
    }
}
@mixin exLarge{
    @media only screen and(max-width: 1200px){
        @content;
    }
}
/* Extra large devices (large laptops and desktops, 1140px and up) */
@mixin extraLarge{
    @media only screen and(min-width: 1200px){
        @content;
    }
}
